.card-title
{
    font-size: 1.4rem;
    font-weight: 800;
}

.card-text
{
  font-size: 0.8rem;
  color: #7f8183;
}

.card-body
{
    padding: 20px;
}

.table {
    border-collapse: separate;
    border-spacing: 0 8px;
  }

  .table th, .table td {
    border: none;
    border-bottom: 1px solid #dee2e6;
  }

  .table-content
  {
    font-size: 0.8rem;
  }

  .table-content-button
  {
    color: white;
  }

  .table-content-heading
  {
    font-size: 0.7rem;
    font-weight: 400;
    font-style: normal;
    color: gray;
  }